.BrowserDetails {
  padding: 1rem;
}

.BrowserDetails__logo-container {
  position: relative;
  margin: 1rem;
}

.BrowserDetails__logo-container::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.BrowserDetails__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.BrowserDetails__name {
  text-align: center;
}