body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
}

dt,
dd {
  display: inline;
  margin: 0;
}

dt {
  font-weight: 700;
}

dt::after {
  content: ': ';
}

dd::after {
  content: '\A';
  white-space: pre;
}
